<div class="header">
    <img src="~/img/headerfish.png" height="100px" width="auto"/>
    <h1>Son of Cod Seafood</h1>
    <a href='@Url.Action("Index", "Home")' class="btn btn-primary">Home</a>
    <a href='@Url.Action("Login", "Account")' class="btn btn-primary">Log In</a>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <a href='@Url.Action("Index", "Subscribers")' class="btn btn-primary">Master Newsletter List</a>
        <a href='@Url.Action("Register", "Account")' class="btn btn-primary">Register Administrator</a>
        <a href='@Url.Action("Logout", "Account")' class="btn btn-primary">Log Out</a>
    }
    <hr />
</div>